@import url('./variables.css');

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    color: var(--color-text);
    /* background-color: var(--color-background); */
    line-height: 1.6;
}

.nav-link {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: var(--color-primary);
    --bs-navbar-nav-link-padding-x: 1rem;
}

.nav-link:hover {
    color: var(--bs-primary);
    font-weight: 500;
}

.sign-up {
    font-weight: 500;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
  }
  
.section-header {
    text-align: center;
    padding-bottom: 40px;
}

.section-header h2 {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    color: var(--bs-primary);
    text-transform: uppercase;
    padding: 8px 20px;
    margin: 0;
    background: color-mix(in srgb, var(--color-primary), transparent 90%);
    color: var(--bs-primary);
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
    font-family: var(--default-font);
}

.section-header p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    color: #012970;
}

@media (max-width: 768px) {
    .section-header p {
        font-size: 28px;
        line-height: 32px;
    }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero h1 {
    margin: 0;
    font-size: 38px;
    font-weight: 500;
    line-height: 56px;
}

.hero h2 {
    padding-top: 15px;
    margin: 5px 0 30px 0;
    font-size: 22px;
    font-weight: 400;
}

/*--------------------------------------------------------------
 # Pricing Section
 --------------------------------------------------------------*/
.pricing .pricing-tem {
    background-color: var(--surface-color);
    box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);
    padding: 40px 20px;
    text-align: center;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
height: 100%;
}

@media (min-width: 1200px) {
    .pricing .pricing-tem:hover {
    transform: scale(1.1);
    box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);
    }
}

.pricing h3 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
}

.pricing .price {
    font-size: 36px;
    color: var(--color-primary);
    font-weight: 600;
    font-family: var(--heading-font);
}

.pricing .price sup {
    font-size: 20px;
    top: -15px;
    left: -3px;
}

.pricing .price span {
    color: color-mix(in srgb, var(--default-color), transparent 50%);
    font-size: 16px;
    font-weight: 300;
}

.pricing .icon {
    padding: 20px 0;
}

.pricing .icon i {
    font-size: 48px;
}

.pricing ul {
    padding: 0;
    list-style: none;
    color: var(--default-color);
    text-align: center;
    line-height: 26px;
    font-size: 16px;
    margin-bottom: 25px;
}

.pricing ul li {
    padding-bottom: 10px;
}

.pricing ul .na {
    color: color-mix(in srgb, var(--default-color), transparent 70%);
    text-decoration: line-through;
}

.pricing .btn-buy {
    display: inline-block;
    padding: 8px 40px 10px 40px;
    border-radius: 50px;
    color: var(--bs-primary);
    transition: none;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--heading-font);
    font-weight: 600;
    transition: 0.3s;
    border: 1px solid var(--bs-primary);
    text-decoration: none;
}

.pricing .btn-buy:hover {
    background: var(--bs-primary);
    color: var(--contrast-color);
}

.pricing .featured {
    width: 200px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px;
    padding: 1px 0 3px 0;
    background: var(--bs-primary);
    color: var(--contrast-color);
}
  


