:root {
    --color-primary: #012970;
    --color-secondary: #A896D8;
    --color-background: #F3F8FE;
    --color-accent: #6B4E9B;
    --color-text: #2C2C2C;
    --color-text-muted: #757575;

    --bs-navbar-nav-link-padding-x: 1rem;

    --nav-mobile-background-color: #ffffff;
    --nav-dropdown-background-color: #ffffff;
    --nav-dropdown-color: #212529;
    --nav-dropdown-hover-color: #4154f1;

    --heading-font: "Nunito", sans-serif;
    --contrast-color: #fff;
}
